body {
  background: lightblue;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#firstHalf > * {
  color: white;
}

#logo {
  height: 70px;
  border-radius: 10%;
  filter: drop-shadow(7px 7px 3px #266b96);
}
#title {
  text-align: center;
}
#description {
  text-align: center;
}

hr {
  width: 80px;
  border: 3px solid #5ca3b2;
  border-radius: 3px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-self: stretch;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

#firstHalf {
  height: 100%;
  width: 100%;
  background-color: #0ea8c7;
  background: linear-gradient(45deg, #0ea8c7, #266b96);
}

#secondHalf {
  height: 100%;
  width: 100%;
  background-color: white;
}

#firstWrapper { 
  padding: 30px;
}

#secondWrapper {
  padding: 30px;
}

.form-style {
  padding: 3px;
  padding-top: 30px;
font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
  border-color: transparent;
  border-bottom: 1px solid grey;
  width: 100%;
}


input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus {
  color: #0ea8c7;
  border-bottom-width: 2px;
  border-bottom-color: #0ea8c7;
  outline: none;
  transition: border-bottom-width 0s ease-in-out, border-bottom-color 0.1s ease-in-out, color 0.1s ease-in-out;
}


#answer1, #answer2, #answer3, #answer4 {
  background-color: #ebf6f8;
  color: #176d8c;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover {
  background-color: #daeef1;
  color: #176d8c;
  cursor: pointer;
}

#answer1input:checked+label, #answer2input:checked+label, #answer3input:checked+label, #answer4input:checked+label {
  background-color: #42C2A5;
  color: white;
  transition: background-color 0s ease-in-out, color 0.01s ease-in-out;

}

input[type="radio"] {
position: fixed;
appearance: none;
}

#validButton {
  display: grid;
  justify-content: center;
}

button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 40px;
  transition: background-color 0.25s ease-out, color 0.01s ease-out;
  background-color: #93e4c1;
  margin-top: 20px;
}
button:hover {
  background-color: #118a7e;
  cursor: pointer;
}

#radioQuestions {
    margin-bottom: 40px;
      margin-top: 40px;
}


.questionBox{
display: grid;
  grid-template-columns: 50% 50%;
}

#checkboxDiv {
  display: grid;
grid-template-columns:  30px 1fr;
grid-template-rows: 1fr 1fr 1fr;
 
}

input[type="checkbox"]+label {
padding: 10px;
}
